@model RestaurantReviewer.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarouselImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarouselImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarouselImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarouselImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarouselImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarouselImage3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestaurantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
