@model IEnumerable<RestaurantReviewer.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarouselImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarouselImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarouselImage3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarouselImage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarouselImage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarouselImage3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
